@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply bg-zinc-950 text-white antialiased;
  }

  a {
    @apply no-underline;
  }

  img,
  video {
    @apply block max-w-full;
  }
}